.player1.road { background-color:#ce0024; }
.player2.road { background-color:#008cce; }
.player3.road { background-color:#FFFFFF; }
.player4.road { background-color:#e58700; }
.player5.road { background-color:#2daf00; }
.player6.road { background-color:#676767; }
.player7.road { background-color:#724000; }
.road { border: 1px solid black; }
.player1 > .playerBackground, #bottompanelcover.player1, #playerspanel > .player1 { background-color: rgb(150,0,10); }
.player2 > .playerBackground, #bottompanelcover.player2, #playerspanel > .player2 { background-color: rgb(0,85,150); }
.player3 > .playerBackground, #bottompanelcover.player3, #playerspanel > .player3 { background-color: rgb(167,167,167); }
.player4 > .playerBackground, #bottompanelcover.player4, #playerspanel > .player4 { background-color: rgb(256,140,0); }
.player5 > .playerBackground, #bottompanelcover.player5, #playerspanel > .player5 { background-color: rgb(18,127,0); }
.player6 > .playerBackground, #bottompanelcover.player6, #playerspanel > .player6 { background-color: rgb(75,75,75); }
.player7 > .playerBackground, #bottompanelcover.player7, #playerspanel > .player7 { background-color: rgb(114,64,0); }
#bottompanel, #playerspanel {  background-color:rgba(0,0,0,0.6); }
.player1 > .playerBackground, #bottompanelcover.player1, #playerspanel .player1, #chat .player1 { background-color: rgba(150,0,10,0.6); }
.player2 > .playerBackground, #bottompanelcover.player2, #playerspanel .player2, #chat .player2 { background-color: rgba(0,85,150,0.6); }
.player3 > .playerBackground, #bottompanelcover.player3, #playerspanel .player3, #chat .player3 { background-color: rgba(167,167,167,0.6); }
.player4 > .playerBackground, #bottompanelcover.player4, #playerspanel .player4, #chat .player4 { background-color: rgba(256,140,0,0.6); }
.player5 > .playerBackground, #bottompanelcover.player5, #playerspanel .player5, #chat .player5 { background-color: rgba(18,127,0,0.6); }
.player6 > .playerBackground, #bottompanelcover.player6, #playerspanel .player6, #chat .player6 { background-color: rgba(75,75,75,0.6); }
.player7 > .playerBackground, #bottompanelcover.player7, #playerspanel .player7, #chat .player7 { background-color: rgba(114,64,0,0.6); }
#bottompanel, #playerspanel {  background-color:rgba(0,0,0,0.6); }
.text.player1 { border-top: 2px solid rgb(150,0,10); }
.text.player2 { border-top: 2px solid rgb(0,85,150); }
.text.player3 { border-top: 2px solid rgb(167,167,167); }
.text.player4 { border-top: 2px solid rgb(256,140,0); }
.text.player5 { border-top: 2px solid rgb(18,127,0); }
.text.player6 { border-top: 2px solid rgb(75,75,75); }
.text.player7 { border-top: 2px solid rgb(114,64,0); }

