.developmentCard.freeres { background-position:0 -90px; }
.developmentCard.freeroad { background-position:0 -180px; }
.developmentCard.freevp { background-position:0 -270px; }
.developmentCard.knight { background-position:0 -360px; }
#developmentCards {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:28px;
  background-color:rgba(0,0,0,0.6);
}
.developmentCard {
  width:110px;
  height:90px;
  color:black; 
  font-weight:bold;
  text-align:center;
  line-height:30px;
  float:left;
  font-size:12px;
  background-repeat:none;
}
.developmentCard:hover, .developmentCard.hover {
  margin-top:-60px;
}
