.n0 { background-image:none; }
.n2 { background-position: 0 0; }
.n3 { background-position: 0 -64px; }
.n4 { background-position: 0 -128px; }
.n5 { background-position: 0 -192px; }
.n6 { background-position: 0 -256px; }
.n8 { background-position: 0 -320px; }
.n9 { background-position: 0 -384px; }
.n10 { background-position: 0 -448px; }
.n11 { background-position: 0 -512px; }
.n12 { background-position: 0 -576px; }
.robber { background-position: 0 -640px; }