.serviceicon {
  width:16px; height:16px;
  float:left;
  margin-top:2px;
  margin-right:4px;
}
.serviceicon.aol { background-position: 0 0; }
.serviceicon.facebook { background-position: 0 -64px; }
.serviceicon.friendfeed { background-position: 0 -128px; }
.serviceicon.google { background-position: 0 -192px; }
.serviceicon.linkedin { background-position: 0 -256px; }
.serviceicon.live { background-position: 0 -320px; }
.serviceicon.livejournal { background-position: 0 -384px; }
.serviceicon.myspace { background-position: 0 -448px; }
.serviceicon.openid { background-position: 0 -512px; }
.serviceicon.twitter { background-position: 0 -576px; }
.serviceicon.yahoo { background-position: 0 -640px; }


