.settlement.player1 { background-position: 0 0; }
.settlement.player2 { background-position: 0 -60px; }
.settlement.player3 { background-position: 0 -120px; }
.settlement.player4 { background-position: 0 -180px; }
.settlement.player5 { background-position: 0 -240px; }
.settlement.player6 { background-position: 0 -300px; } 
.settlement.player7 { background-position: 0 -360px; }