.tile.sea { background-position: 0 0; }
.tile.wood { background-position: 0 -168px; }
.tile.wheat { background-position: 0 -336px; }
.tile.sheep { background-position: 0 -504px; }
.tile.brick { background-position: 0 -672px; }
.tile.ore { background-position: 0 -840px; }
.tile.desert { background-position: 0 -1008px; }