.player1.road { background-color:#ce0024; }
.player2.road { background-color:#008cce; }
.player3.road { background-color:#FFFFFF; }
.player4.road { background-color:#e58700; }
.player5.road { background-color:#2daf00; }
.player6.road { background-color:#676767; }
.player7.road { background-color:#724000; }
.player1 > .playerBackground, #bottompanelcover.player1 { background-color: rgba(150,0,10,0.6); }
.player2 > .playerBackground, #bottompanelcover.player2 { background-color: rgba(0,85,150,0.6); }
.player3 > .playerBackground, #bottompanelcover.player3 { background-color: rgba(167,167,167,0.6); }
.player4 > .playerBackground, #bottompanelcover.player4 { background-color: rgba(256,140,0,0.6); }
.player5 > .playerBackground, #bottompanelcover.player5 { background-color: rgba(18,127,0,0.6); }
.player6 > .playerBackground, #bottompanelcover.player6 { background-color: rgba(75,75,75,0.6); }
.player7 > .playerBackground, #bottompanelcover.player7 { background-color: rgba(114,64,0,0.6); }
#bottompanel, #playerspanel > * { background-color:rgba(0,0,0,0.6); }