.roadButton { background-position:0 0; }
.roadButton.highlight { background-position:0 213px; }
.roadButton.highlight:hover { background-position:0 71px; }
.roadButton:hover { background-position:0 284px; }
.roadButton.disabled { background-position:0 142px; }
.developmentButton { background-position:71px 0; }
.developmentButton.highlight { background-position:71px 213px; }
.developmentButton.highlight:hover { background-position:71px 71px; }
.developmentButton:hover { background-position:71px 284px; }
.developmentButton.disabled { background-position:71px 142px; }
.cityButton { background-position:142px 0; }
.cityButton.highlight { background-position:142px 213px; }
.cityButton.highlight:hover { background-position:142px 71px; }
.cityButton:hover { background-position:142px 284px; }
.cityButton.disabled { background-position:142px 142px; }
.settlementButton { background-position:213px 0; }
.settlementButton.highlight { background-position:213px 213px; }
.settlementButton.highlight:hover { background-position:213px 71px; }
.settlementButton:hover { background-position:213px 284px; }
.settlementButton.disabled { background-position:213px 142px; }