#cursor.city.player1, #board .city.player1, #buttonCity.player1 { background-position: 0 0; }
#cursor.city.player2, #board .city.player2, #buttonCity.player2 { background-position: 0 -81px; }
#cursor.city.player3, #board .city.player3, #buttonCity.player3 { background-position: 0 -162px; }
#cursor.city.player4, #board .city.player4, #buttonCity.player4 { background-position: 0 -243px; }
#cursor.city.player5, #board .city.player5, #buttonCity.player5 { background-position: 0 -324px; }
#cursor.city.player6, #board .city.player6, #buttonCity.player6 { background-position: 0 -405px; }
#cursor.city.player7, #board .city.player7, #buttonCity.player7 { background-position: 0 -486px; }