.smallButton.accept { background-position: 0px 0px; }
.smallButton.cancel { background-position: -31px 0px; }
.smallButton.ore { background-position: -62px 0px; }
.smallButton.wheat { background-position: -93px 0px; }
.smallButton.wood { background-position: -124px 0px; }
.smallButton.brick { background-position: -155px 0px; }
.smallButton.sheep { background-position: -186px 0px; }
.smallButton.trade { background-position: -217px 0px; }
.smallButton.bank { background-position: -248px 0px; }
.smallButton.cardOut { background-position: -279px 0px; }
.smallButton.cardSwap { background-position: -310px 0px; }
.smallButton.cardIn { background-position: -341px 0px; }
.smallButton.left { background-position: -372px 0px; }
.smallButton.right { background-position: -403px 0px; }
.smallButton.help { background-position: -434px 0px; }
.smallButton.zero { background-position: -465px 0px; }
.smallButton.plus { background-position: -496px 0px; }
.smallButton.delete { background-position: -527px 0px; }
.smallButton.end { background-position: -558px 0px; }
.smallButton.accept:hover { background-position: 0px -24px; }
.smallButton.cancel:hover { background-position: -31px -24px; }
.smallButton.ore:hover { background-position: -62px -24px; }
.smallButton.wheat:hover { background-position: -93px -24px; }
.smallButton.wood:hover { background-position: -124px -24px; }
.smallButton.brick:hover { background-position: -155px -24px; }
.smallButton.sheep:hover { background-position: -186px -24px; }
.smallButton.trade:hover { background-position: -217px -24px; }
.smallButton.bank:hover { background-position: -248px -24px; }
.smallButton.cardOut:hover { background-position: -279px -24px; }
.smallButton.cardSwap:hover { background-position: -310px -24px; }
.smallButton.cardIn:hover { background-position: -341px -24px; }
.smallButton.left:hover { background-position: -372px -24px; }
.smallButton.right:hover { background-position: -403px -24px; }
.smallButton.help:hover { background-position: -434px -24px; }
.smallButton.zero:hover { background-position: -465px -24px; }
.smallButton.plus:hover { background-position: -496px -24px; }
.smallButton.delete:hover { background-position: -527px -24px; }
.smallButton.end:hover { background-position: -558px -24px; }
.smallButton.accept.highlight { background-position: 0px -48px; }
.smallButton.cancel.highlight { background-position: -31px -48px; }
.smallButton.ore.highlight { background-position: -62px -48px; }
.smallButton.wheat.highlight { background-position: -93px -48px; }
.smallButton.wood.highlight { background-position: -124px -48px; }
.smallButton.brick.highlight { background-position: -155px -48px; }
.smallButton.sheep.highlight { background-position: -186px -48px; }
.smallButton.trade.highlight { background-position: -217px -48px; }
.smallButton.bank.highlight { background-position: -248px -48px; }
.smallButton.cardOut.highlight { background-position: -279px -48px; }
.smallButton.cardSwap.highlight { background-position: -310px -48px; }
.smallButton.cardIn.highlight { background-position: -341px -48px; }
.smallButton.left.highlight { background-position: -372px -48px; }
.smallButton.right.highlight { background-position: -403px -48px; }
.smallButton.help.highlight { background-position: -434px -48px; }
.smallButton.zero.highlight { background-position: -465px -48px; }
.smallButton.plus.highlight { background-position: -496px -48px; }
.smallButton.delete.highlight { background-position: -527px -48px; }
.smallButton.end.highlight { background-position: -558px -48px; }
.smallButton.accept.disabled { background-position: 0px -72px; }
.smallButton.cancel.disabled { background-position: -31px -72px; }
.smallButton.ore.disabled { background-position: -62px -72px; }
.smallButton.wheat.disabled { background-position: -93px -72px; }
.smallButton.wood.disabled { background-position: -124px -72px; }
.smallButton.brick.disabled { background-position: -155px -72px; }
.smallButton.sheep.disabled { background-position: -186px -72px; }
.smallButton.trade.disabled { background-position: -217px -72px; }
.smallButton.bank.disabled { background-position: -248px -72px; }
.smallButton.cardOut.disabled { background-position: -279px -72px; }
.smallButton.cardSwap.disabled { background-position: -310px -72px; }
.smallButton.cardIn.disabled { background-position: -341px -72px; }
.smallButton.left.disabled { background-position: -372px -72px; }
.smallButton.right.disabled { background-position: -403px -72px; }
.smallButton.help.disabled { background-position: -434px -72px; }
.smallButton.zero.disabled { background-position: -465px -72px; }
.smallButton.plus.disabled { background-position: -496px -72px; }
.smallButton.delete.disabled { background-position: -527px -72px; }
.smallButton.end.disabled { background-position: -558px -72px; }
.smallButton.accept.highlight:hover { background-position: 0px -96px; }
.smallButton.cancel.highlight:hover { background-position: -31px -96px; }
.smallButton.ore.highlight:hover { background-position: -62px -96px; }
.smallButton.wheat.highlight:hover { background-position: -93px -96px; }
.smallButton.wood.highlight:hover { background-position: -124px -96px; }
.smallButton.brick.highlight:hover { background-position: -155px -96px; }
.smallButton.sheep.highlight:hover { background-position: -186px -96px; }
.smallButton.trade.highlight:hover { background-position: -217px -96px; }
.smallButton.bank.highlight:hover { background-position: -248px -96px; }
.smallButton.cardOut.highlight:hover { background-position: -279px -96px; }
.smallButton.cardSwap.highlight:hover { background-position: -310px -96px; }
.smallButton.cardIn.highlight:hover { background-position: -341px -96px; }
.smallButton.left.highlight:hover { background-position: -372px -96px; }
.smallButton.right.highlight:hover { background-position: -403px -96px; }
.smallButton.help.highlight:hover { background-position: -434px -96px; }
.smallButton.zero.highlight:hover { background-position: -465px -96px; }
.smallButton.plus.highlight:hover { background-position: -496px -96px; }
.smallButton.delete.highlight:hover { background-position: -527px -96px; }
.smallButton.end.highlight:hover { background-position: -558px -96px; }