.card.ore { background-position:0 0; }
.card.sheep { background-position:0 50px; }
.card.brick { background-position:0 100px; }
.card.wood { background-position:0 150px; }
.card.wheat { background-position:0 200px; }