.die1 { background-position:0 0; }
.die2 { background-position:0 -31px; }
.die3 { background-position:0 -62px; }
.die4 { background-position:0 -93px; }
.die5 { background-position:0 -124px; }
.die6 { background-position:0 -155px; }