.smile {
  width:15px;
  height:15px;
  margin:0 2px;
  display:inline-block;
  vertical-align:text-bottom;
}
.smile000 { background-position: 0 0px; }
.smile001 { background-position: 0 -15px; }
.smile002 { background-position: 0 -30px; }
.smile003 { background-position: 0 -45px; }
.smile004 { background-position: 0 -60px; }
.smile005 { background-position: 0 -75px; }
.smile006 { background-position: 0 -90px; }
.smile007 { background-position: 0 -105px; }
.smile008 { background-position: 0 -120px; }
.smile009 { background-position: 0 -135px; }
.smile010 { background-position: 0 -150px; }
.smile011 { background-position: 0 -165px; }
.smile012 { background-position: 0 -180px; }
.smile013 { background-position: 0 -195px; }
.smile014 { background-position: 0 -210px; }
.smile015 { background-position: 0 -225px; }
.smile016 { background-position: 0 -240px; }
.smile017 { background-position: 0 -255px; }
.smile018 { background-position: 0 -270px; }
.smile019 { background-position: 0 -285px; }
.smile020 { background-position: 0 -300px; }
.smile021 { background-position: 0 -315px; }
.smile022 { background-position: 0 -330px; }
.smile023 { background-position: 0 -345px; }
.smile024 { background-position: 0 -360px; }
.smile025 { background-position: 0 -375px; }
.smile026 { background-position: 0 -390px; }
.smile027 { background-position: 0 -405px; }
.smile028 { background-position: 0 -420px; }
.smile029 { background-position: 0 -435px; }
.smile030 { background-position: 0 -450px; }
.smile031 { background-position: 0 -465px; }
.smile032 { background-position: 0 -480px; }
.smile033 { background-position: 0 -495px; }
.smile034 { background-position: 0 -510px; }
.smile035 { background-position: 0 -525px; }
.smile036 { background-position: 0 -540px; }
.smile037 { background-position: 0 -555px; }
.smile038 { background-position: 0 -570px; }
.smile039 { background-position: 0 -585px; }
