.stats.cards { background-position: 0 0; }
.stats.developments { background-position: 0 -17px; }
.stats.knights { background-position: 0 -34px; }
.stats.roads { background-position: 0 -51px; }
.stats.vp { background-position: 0 -68px; }
