.icon.brick { background-position: 0 -90px; }
.icon.ore { background-position: 0 -180px; }
.icon.sheep { background-position: 0 -270px; }
.icon.wheat { background-position: 0 -360px; }
.icon.wood { background-position: 0 -450px; }

